@import "./base.css";

a,
.green {
    text-decoration: none;
    color: var(--color-primary);
    transition: background-color var(--transition);
    padding: 3px;
    border-radius: var(--radius-sm);
}

@media (hover: hover) {
    a:hover {
        background-color: var(--color-primary-soft);
    }
}
